.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#circle {
    width: 370px;
    height: 370px;
    background: #D9D9D9;
    border-radius: 50%;
    justify-content: center;
    align-items: flex-end;
    transition: opacity 1s ease-out;
    transition: background 1s;
    display: flex;
}
.btn {
    width: 130px;
    height: 40px;
    background-color: #2F2F2F;
    color: #FFF;
    border-radius:8px;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
}


.elipses-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.elipses {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    margin-right: 50px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.elipses:hover {
    transform: scale(1.2); 
}

/* as cores do circulos*/

body {
    background: rgb(255, 255, 255);
}

#elipse-blue {
    background-color: blue;
}

#elipse-red {
    background-color: red;
}

#elipse-green{
    background-color: greenyellow;
}

#elipse-cyan {
    background-color: cyan;
}

#elipse-pink {
    background-color: pink;
}

@media screen and (max-width: 720px){

    #circle{
        width: 300px;
        height: 300px;
    }
    .elipses {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: none;
        margin-right: 20px;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
}
@media screen and (max-width: 500px){

    #circle{
        width: 280px;
        height: 280px;
    }
    .elipses {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: none;
        margin-right: 20px;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
}